{% extends 'base.html' %}

{% block app_content %}
<div class="container">
    <h1>Products! Buy some stuff!</h1>
    <div class="row" id="products">
        {% for product in products %}
        <!-- <h1>{{ product.name }}</h1>
            <p>{{ product.price }}</p>
            <p>{{ product.description }}</p> -->
        <div class="col-md-4">
            <div class="card">
                <img src="http://placehold.it/250x250" alt="{{ product.title }}" class="card-img">
                <div class="card-title">{{ product.name[:40] }}...</div>
                <div class="card-subtitle">${{ product.price }}</div>
                <div class="card-text">
                    <p>{{ product.description[:50] }}...</p>
                </div>
                <button onClick="console.log({{ product.id }})" class="btn btn-primary">Add to Cart</button>
            </div> <!-- ends card -->
        </div> <!-- ends col 4-->
        {% endfor %}
    </div>
</div>




{% endblock %}
