{% extends 'base.html' %}

{% block app_content %}
    <h1>Products! Buy some stuff!</h1>
    <div class="row" id="products">
        {% for product in products %}
        <!-- <h1>{{ product.name }}</h1>
            <p>{{ product.price }}</p>
            <p>{{ product.description }}</p> -->
        <div class="col-md-3">
            <div class="card">
                <!-- <a href="url_for('product'<id>)"> -->
                    <img src="{{ product.image }}" height="300" width="150" alt="{{ product.title }}" class="card-img">
                    <div class="card-title">{{ product.name[:25] }}...</div>
                <!-- </a> -->
                <div class="card-subtitle">${{ product.price }}</div>
                <div class="card-text">
                    <p>{{ product.description[:50] }}...</p>
                </div>
                <a href="{{ url_for('productsAdd', id=product.id) }}" class="btn btn-primary">Add to Cart</a>
            </div> <!-- ends card -->
        </div> <!-- ends col 4-->
        {% endfor %}
    </div>




{% endblock %}
